.comment {
    -fx-fill: #999999;
    -fx-font-weight: bold;
}
.variable_def {
    -fx-fill: #8944ff;
    -fx-font-weight: bold;
}
.identifier {
    -fx-fill: green;
    -fx-font-weight: bold;
}
.sectionheader {
    -fx-fill: blue;
    -fx-font-weight: bold;
}
.expression {
    -fx-fill: purple;
}
.invalid {
    -fx-fill: red;
    -fx-font-weight: bold;
}

.token_function {
    -fx-fill: purple;
}

.token_literal {
    -fx-fill: blue;
}

.token_variable {
    -fx-fill: black;
}

.keyword {
    -fx-fill: #dd5f00;
    -fx-font-weight: bold;
}

.underline_error {
    -rtfx-underline-width: 1;
    -rtfx-underline-color: red;
    -rtfx-underline-wave-radius: 2;
}

.log_info {
    -fx-fill: black;
}

.log_error {
    -fx-fill: red;
}

.log_warning {
    -fx-fill: orange;
}

.log_debug {
    -fx-fill: blue;
}
