.heading-1 {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

.heading-2 {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.heading-3 {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.heading-4 {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.paragraph-text {
    -fx-padding: 2px 2px 0 0;
}

.bold {
    -fx-font-weight: bold;
}

.italic {
    -fx-font-style: italic;
}

.image {
    -fx-background-color: lightgray;
}

.bullet {
    -fx-padding: 0 0 0 20px;
}

.link {
    -fx-fill: blue;
    -fx-underline: true;
    -rtfx-underline-color: blue;
    -fx-cursor: hand;
}

.code {
    -rtfx-background-color: lightgrey;
}

.image {
    padding: 5px;
    max-width: 100%;
}
