.box {
    -fx-padding: 15;
    -fx-spacing: 15;
}

.player-button {
        -size: 24;
        -fx-min-height: -size;
        -fx-min-width: -size;
        -fx-max-height: -size;
        -fx-max-width: -size;
        -fx-background-color: -icon-paint;
        -icon-paint: grey;
}

.player-button:hover {
    -icon-paint: linear-gradient(to bottom, green, white);
}

#play {
    -fx-shape: "M5.25 5.653c0-.856.917-1.398 1.667-.986l11.54 6.348a1.125 1.125 0 010 1.971l-11.54 6.347a1.125 1.125 0 01-1.667-.985V5.653z";
}

#rewind {
    -fx-shape: "M21 16.811c0 .864-.933 1.405-1.683.977l-7.108-4.062a1.125 1.125 0 010-1.953l7.108-4.062A1.125 1.125 0 0121 8.688v8.123zM11.25 16.811c0 .864-.933 1.405-1.683.977l-7.108-4.062a1.125 1.125 0 010-1.953L9.567 7.71a1.125 1.125 0 011.683.977v8.123z"
}

#forward {
     -fx-shape: "M3 8.688c0-.864.933-1.405 1.683-.977l7.108 4.062a1.125 1.125 0 010 1.953l-7.108 4.062A1.125 1.125 0 013 16.81V8.688zM12.75 8.688c0-.864.933-1.405 1.683-.977l7.108 4.062a1.125 1.125 0 010 1.953l-7.108 4.062a1.125 1.125 0 01-1.683-.977V8.688z"
}
